certifi==2021.5.30
chardet==4.0.0
idna==3.3
requests>=2.28.2
urllib3==2.6.0


# Note: Tkinter is required for the GUI but must be installed separately:
# Linux (Ubuntu/Debian): sudo apt install python3-tk
# macOS: included in Python.org installer or brew install python-tk
# Windows: included in Python.org installer
