requests>=2.32.4
certifi>=2025.8.3
chardet>=5.2.0
idna>=3.4
urllib3>=2.6.0


# Note: Tkinter is required for the GUI but must be installed separately:
# Linux (Ubuntu/Debian): sudo apt install python3-tk
# macOS: included in Python.org installer or brew install python-tk
# Windows: included in Python.org installer
